
        <%= form_with(model: mark, local: true) do |form| %>
        <% if mark.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

            <ul>
              <% mark.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
            <%= form.label :student_id %>
            <%= form.collection_select :student_id, Student.order(:name),:id , :name, {:prompt => "--select student--"}, required: true, class: "form-control" %>
        </div><br>


        <div class="field">
          <%= form.label :marks %>
          <%= form.number_field :marks, id: :mark_marks, :step => 0.01, min: 0, max: 100, required: true, class: "form-control" %>
        </div><br>

  

        <div class="actions">
          <%= form.submit "Submit", class: "btn btn-success" %>
        </div>
        <% end %>
     



